.mainComp{
    width: 100%;
    height: 100%;
    background-color: #F6F8FC;
}
main{
    width: 62%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr;
}
.header{
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 2.5rem 0rem;
}
.news{
    font-size: 3rem;
}
.header div{
    color: #5F6368;
    font-size: 1.4rem;
}
.showcase{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    gap: 2rem;
    padding: 1rem 0rem;
}